<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../static/css/dashboard.css"></link>
    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="../static/js/plot.js"></script>

</head>


<body>


    <div class="container-fluid">

        <div class="row">
            <!-- <div class="column">
                <div class="card">
                    <h2>DECISION TREE</h2>
                    <p></p>
                </div>
            </div> -->
            <div class="column">
                <div class="card">
                    <h2>Recent Unsolved Issues</h2>

                    <body>
                        <table>
                            <thead>
                                <th>Order ID</th>
                                <th>Supplier ID</th>
                                <th>Root Cause</th>
                            </thead>
                            <tbody>
                                {% for i in recentList %}
                                <tr>
                                    <td>{{ i[0] }}</td>
                                    <td>{{ i[3] }}</td>
                                    <td>{{ i[4] }}</td>
                                    {% endfor %}
                                </tr>
                            </tbody>
                        </table>

                    </body>
                    <p> </p>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <h2>Status</h2>
         <!-- <div id="piechart"></div> -->
                        <div id="pieChart"></div>


                    <p></p>
                </div>


            </div>


        </div>
    </div>
</body>