﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dell Support </title>
    <!-- BOOTSTRAP STYLES-->
    <link href="static/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="static/css/font-awesome.css" rel="stylesheet" />
    <!-- CUSTOM STYLES-->
    <link href="static/css/custom.css" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>

<body>
    <div id="wrapper">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="adjust-nav">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <img src="static/img/dell1.png" length=100px width=100px class="img-responsive" />
                    <div class="wrap">
                        <div class="search">
                            <input type="text" class="searchTerm" placeholder="What are you looking for?">
                            <button type="submit" class="searchButton">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                    <!--<a class="navbar-brand" href=""><i class="fa fa-square-o "></i>&nbsp;TWO PAGE</a>-->
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">See Website</a></li>
                        <li><a href="#">Open Ticket</a></li>
                        <li><a href="#">Report Bug</a></li>
                    </ul>
                </div>

            </div>
        </div>
        <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li class="text-center user-image-back">
                        <center><img src="static/img/find_user.png" class="img-responsive" /></center>
                        <!-- TODO: add username here-->
                        <p style="color:white;">user</p>


                    </li>
                    <li>
                        <a href='http://127.0.0.1:5000/dashboard'><i class="fa fa-desktop "></i>Dashboard</a>
                    </li>
                    <li>
                        <a href=''><i class="fa fa-table "></i>Activity Tracker<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">

                            <li>
                                <a href='http://127.0.0.1:5000/new_issue'>Add New Issue</a>
                            </li>
                            <li>
                                <a href='http://127.0.0.1:5000/track_issues'>Track Issues</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#"><i class="fa fa-edit "></i>About Dell</a>
                    </li>
                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">

                </div>
                {% if selected_page == 'new_issue' %}
                {% include 'new_issue.html' %}
                {% else %}
                {% if selected_page == 'track_issues' %}
                {% include 'track_issues.html' %}
                {% else %}
                {% include 'dashboard.html' %}
                {% endif %}
                {% endif %}
                <hr />
            </div></a>
        </div>

        <div class="col-md-12">
            <hr />

            <!-- /. ROW  -->

        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="static/js/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="static/js/bootstrap.min.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="static/js/jquery.metisMenu.js"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="static/js/custom.js"></script>


</body>

</html>