<!-- <head> -->
<!-- <title>Table V01</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> -->
<!--===============================================================================================-->
<link rel="icon" type="image/png" href="../static/images/icons/favicon.ico" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
<!-- <link rel="stylesheet" type="text/css" href="../static/fonts/font-awesome-4.7.0/css/font-awesome.min.css"> -->
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="../static/css/table_main.css">
<link rel="stylesheet" type="text/css" href="../static/css/table_util.css">
<!--===============================================================================================-->
<!-- </head> -->

<div class="limiter">
    <div class="container-table100">
        <div class="wrap-table100">
            <div class="table100">
                <table>
                    <thead>
                        <tr class="table100-head">
                            <th class="column1">Date</th>
                            <th class="column2">Order ID</th>
                            <th class="column3">Product ID</th>
                            <th class="column4">Quantity</th>
                            <th class="column5">Supplier ID</th>
                            <th class="column6">Root Cause</th>
                            <th class="column7">Status</th>
                            <th class="column7">Recommendation</th>
                            <th class="column7">Select</th>
                            <th class="column7">Actions</th>

                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for i in issueList %}
                        <tr>
                            <td class="column1">{{i[5]}}</td>
                            <td class="column2">{{i[0]}}</td>
                            <td class="column3">{{i[1]}}</td>
                            <td class="column4">{{i[2]}}</td>
                            <td class="column5">{{i[3]}}</td>
                            <td class="column6">{{i[4]}}</td>
                            {% if i[7] == 0 %}
                            <td class="column7">unsolved</td>
                            {% else %}
                            <td class="column7">solved</td>
                            {% endif %}
                            <td class="column7">{{ i[8] }}</td>
                            <td class="column7">DropDown to select</td>
                            <td class="column7">
                                <form action='http://127.0.0.1:5000/take-action' method="POST">
                                    <input type="hidden" name="orderID" value={{i[0]}} />
                                    <input type="submit" value="Take Action" style="width: 100%">
                                </form>
                            </td>
                            
                            {% endfor %}
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>